.my-container {
  max-width: 1200px;
  border: 1px dashed black;
  background: rgba(255, 255, 255, 0.5);
}

.my-width-100 {
  width: 100px;
}


body {
  background: linear-gradient(0deg, rgba(34,43,195,1) 0%, rgba(45,252,253,1) 100%);
}
